
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255,255,255, .3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: .2 linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
   background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
 }

 body{
    background: var(--bg);
 }

 .section{
    padding: 2rem 7%;
 }

 .header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;

 }

 .btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
 }

 .header .logo img{
    height: 6rem;
 }

 #navbar{
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.3s ease-in-out;
    z-index: 1000;
 }

 .header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;

 }

 .header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
 }

 .header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
 }

 .header .icons div:hover{
    color: var(--main-color);
 }

 #menu-btn{
    display: none;
 }

.header .search-form{
    position: absolute;
    top: 115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;

}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover{
    color: var(--main-color)
}


.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/martelo.png) no-repeat center center;
    background-size: cover;
    background-position: center;
    padding: 40px;

}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
}


.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 3.5rem;
    font-size: 4rem;
}

.heading span{

    color: var(--main-color);
    text-transform: uppercase;

}


.about .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;

}

.about .row .image{
    flex: 1 1 45rem;

}
.about .row .image img{
    width: 100%;
    
}
.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
    
}

.about .row .content h3{
    font-size: 3rem;
    color: #fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;

}

.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}

.review .box-container .box .star i{
    font-size: 2rem;
    color: var(--main-color);
}

.review .box-container .box p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 2rem 0;
}

.quotes{
    width: 15rem;
}

.contact .row{
    display: flex;
    background: var(--black);
    flex-wrap: wrap;    
    gap: 1rem;

}

.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}
.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;

}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--black);
    border: var(--border);

}

.contact .row form .inputBox span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}

.footer{
    background: var(--black);
    text-align: center;

}

.footer .shar{
    padding: 2rem ;

}

.footer .shar a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.footer .shar a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}
.footer .links a{
    padding: .7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background: var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span{
    color: var(--main-color);
}
/* CSS para a seção de Benefícios Previdenciários */
.benefits {
    padding: 50px 20px;
    background-color:var(--black);
    text-align: center;
}

.benefits .heading {
    font-size: 4em;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

.benefits .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.benefits .box {
    background-color: var(--bg);
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.benefits .box:hover {
    transform: translateY(-10px);
}

.benefits .box i {
    font-size: 6em;
    color: var(--main-color);
    margin-bottom: 10px;
}

.benefits .box h3 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #fff;
}

.benefits .box p {
    font-size: 1.5rem;
    color: #fff;
}






@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    .section {
        padding: 2rem;
    }

    .home .content h3 {
        font-size: 5rem;
    }

    .home .content p {
        font-size: 1.8rem;
    }

    .about .row {
        flex-direction: column;
    }

    .about .row .image,
    .about .row .content {
        flex: 1 1 100%;
    }

    .benefits .box {
        width: 100%;
    }
    .benefits .heading{
        font-size: 4em;
    }

}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
        transition: right 0.3s ease;
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }

    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3 {
        font-size: 4.5rem;
    }

    .home .content p {
        font-size: 2.0rem;
    }

    .about .row {
        flex-direction: column;
        text-align: center;
    }

    .about .row .image,
    .about .row .content {
        width: 100%;
    }

    .contact .row {
        flex-direction: column;
    }

    .contact .row form,
    .contact .row .map {
        flex: 1 1 100%;
        width: 100%;
    }

    .footer .links a {
        padding: 1rem 2rem;
        font-size: 1.6rem;
    }

    .home .content p{
        font-weight: bold;

    }

    .home {
        background-position: center;
    }

    
}

@media (max-width: 431px) {
    html {
        font-size: 50%;
    }

    .home .content h3 {
        font-size: 4rem;
    }

    .home .content p {
        font-size: 2.0rem;
    }

    .header .navbar a {
        font-size: 1.8rem;
    }

    .about .row .content h3 {
        font-size: 2.5rem;
    }

    .about .row .content p {
        font-size: 2.0rem;
    }

    .contact .row form h3 {
        font-size: 3rem;
    }

    .footer .credit {
        font-size: 1.6rem;
    }

    .benefits .heading h3{
        font-size: 4em;
    }

    
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.about .row, .review .box-container .box, .contact .row {
    animation: slide-in 1s ease-in-out;
}

.header .navbar {
    transition: right 0.4s ease;
}

.header .navbar a, .btn {
    transition: color 0.3s ease, background-color 0.3s ease, border-bottom 0.3s ease;
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.2rem solid var(--main-color);
}

.btn:hover {
    background-color: #fff;
    color: var(--main-color);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    animation: fade-in 1s ease-in-out;
}


.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366; /* Cor de fundo do WhatsApp */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Sombra para destaque */
    z-index: 100;
    transition: transform 0.3s ease;
    animation: bounce 2s infinite;
}

.whatsapp-button i {
    color: white; /* Cor do ícone */
    font-size: 30px; /* Tamanho do ícone */
}

.whatsapp-button:hover {
    transform: scale(1.1); /* Aumenta o botão ao passar o mouse */
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0); /* Posição inicial */
    }
    40% {
        transform: translateY(-15px); /* Pulo */
    }
    60% {
        transform: translateY(-10px); /* Pulo menor */
    }
}


